/*base css*/

@font-face {
    font-family: "Avenir-Medium";
    src: url("../fonts/Avenir-Medium.woff") format('woff');
    /*font-weight: normal;*/
}

@font-face {
    font-family: "Avenir-Heavy";
    src: url("../fonts/Avenir-Heavy.woff") format('woff');
    ;
    /*font-weight: normal;*/
}

@font-face {
    font-family: "Avenir-Black";
    src: url("../fonts/Avenir-Black.woff") format('woff');
    ;
    /*font-weight: normal;*/
}

@font-face {
    font-family: "Avenir-MediumOblique";
    src: url("../fonts/Avenir-MediumOblique.woff") format('woff');
    ;
}

html {
    height: 100%;
    overflow: auto;
}

html,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
textarea,
img,
select,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -webkit-outline: none;
    -webkit-border: none;
    outline: none;
    border: none;
}

input:focus,
textarea:focus,
img:focus,
div:focus,
button:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -webkit-outline: none;
    -webkit-border: none;
    outline: none;
}

select::-ms-expand {
    display: none;
}

::-webkit-input-placeholder {
    color: #666;
}

.white::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {
    color: #666;
}

body,
img {
    border: 0;
    padding: 0;
    margin: 0;
}

.grid-1 {
    flex-basis: 7%;
}

.grid-2 {
    flex-basis: 16.666666666%;
}

.grid-3 {
    flex-basis: 25%;
}

.grid-4 {
    flex-basis: 33.333333333%;
}

.grid-5 {
    flex-basis: 41.666666666%;
}

.grid-6 {
    flex-basis: 50%;
    /* padding: 0.5em; */
}

.grid-7 {
    flex-basis: 58.333333333%;
}

.grid-8 {
    flex-basis: 66.666666666%;
}

.grid-9 {
    flex-basis: 75%;
}

.grid-10 {
    flex-basis: 83.333333333%;
}

.grid-11 {
    flex-basis: 91.666666666%;
}

.grid-12 {
    flex-basis: 100%;
}

body {
    font-size: 14px;
    background-color: ghostwhite;
    color: white;
    height: 100%;
    margin: unset;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    /* Safari */
    /* flex-wrap:         nowrap; */
}

.column {
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 100%;
    /* align-items: center; */
    /* align-items: stretch; */
}

.row {
    /* flex-direction: row; */
    justify-content: space-between;
    flex-basis: 100%;
}

.container {
    padding: 0 3%;
}

.container-main {
    padding: 0 1%;
}

.banner {
    position: relative;
    height: 80%;
    width: 100%;
    background: #000000;
    background-image: linear-gradient(-203deg, rgba(0, 0, 0, 0.00) 10%, #000000 100%);
}

.banner-content {
    position: absolute;
    top: 15%;
    width: 30%;
    padding: 3%;
}

.banner-img {
    object-fit: cover;
    position: absolute;
}

.banner-text-main {
    /* vero eos et accusamu: */
    font-family: Avenir-Heavy;
    font-size: 34px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
}

.banner-text-para {
    font-family: Avenir-Medium;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 4%;
    width: 80%;
}

.banner-btn {
    position: absolute;
    top: 60%;
    width: 25%;
    padding: 3%;
}

.buy-ticket-btn {
    width: 34%;
    padding: 2%;
    position: absolute;
    background: #FFFFFF;
    font-family: Avenir-Black;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.watch-trailer-btn {
    width: 34%;
    padding: 3%;
    position: absolute;
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
    font-family: Avenir-Black;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 53%;
}

.first-header {
    background: #000000;
    /*padding: 4px 0px;*/
    height: 45px;
}

.first-header .flex {
    align-items: center;
}

.sec-header {
    opacity: 0.71;
    background: #000000;
    /*padding:8px 0px*/
}

.sec-header-body {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: auto;
    opacity: 0.3;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.usr-img {
    position: relative;
    padding: 3px 0px;
}

.usr-img-con {
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.usr-name {
    /* Funmilayo: */
    font-family: Avenir-Medium;
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.medal {
    position: absolute;
    width: 15px;
    right: 0px;
    top: 25px;
}

.sub-head,
.all-trail {
    position: relative;
    /* Subscriptions: */
    font-family: Avenir-Heavy;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.all-trail .icon {
    position: absolute;
    right: -30px;
    top: 0px;
}

.active {
    position: absolute;
    right: -5px;
    top: -3px;
}

.content {
    /* Rectangle 9: */
    min-height: 100%;
    background-image: linear-gradient(1deg, #445460 0%, #24323D 21%, #24323D 25%, #4F6678 51%, #000000 96%);
}

.content-head {
    /* Funmilayo, try these: */
    font-family: Avenir-Heavy;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 20px;
    padding: 0;
    padding: 0 2%;
}

.head-title {
    /* See all: */
    margin-bottom: 20px;
    width: 70%;
}

.content-head-br {
    font-family: Avenir-Medium;
    font-size: 20px;
    color: #9B9B9B;
    letter-spacing: 0;
    margin-bottom: 20px;
    padding: 0 2%;
    font-style: oblique;
}

.select-movies::before {
    background: url("../img/cinema-comb.png") no-repeat 10% 60%;
}

select#cinema option[value="default"] {
    background-image: url(../img/cinema-comb.png);
}

.select-movies {
    background: url(../img/arrow.svg) no-repeat 90% 50%;
    width: 25%;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 50px;
    color: black;
    overflow: hidden;
    position: absolute;
    left: 75%;
    top: 15%;
}

.select-movies select {
    font-family: Avenir-Medium;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    background: transparent;
    color: black;
    border: none;
    height: 29px;
    padding: 0px 50px;
    width: 333px;
    -webkit-appearance: none;
    outline: none;
}

.movie-container {
    /* Mask: */
    background: #FFFFFF;
    border-radius: 16px;
    height: 344px;
    width: 450px;
    margin-right: 10px;
}

.cover-width,
.coverimg-width {
    width: 50%;
    height: 100%;
}

.cover-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie-title {
    /* Title: */
    font-family: Avenir-Black;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    margin: 20px;
}

.category {
    MARGIN: 20PX;
}

.nxt-screen {
    MARGIN: 30px 20px;
}

.time {
    /* Next Time Bubble: */
    background: #4A90E2;
    border-radius: 36px;
    font-family: Avenir-Black;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    WIDTH: 27%;
    PADDING: 7PX;
    text-align: center;
    margin-left: 15px;
}

.nxt-screen .text {
    /* Next Screening: */
    font-family: Avenir-Heavy;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    padding-top: 5px;
}

.age-bracket {
    /* Age BG: */
    background: #9B9B9B;
    border-radius: 36px;
    /* Rating: */
    font-family: Avenir-Black;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    WIDTH: 25%;
    PADDING: 7PX;
    text-align: center;
}

.genre {
    /* Genres: */
    font-family: Avenir-Medium;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    padding: 7px;
    font-style: oblique;
}

.cast {
    margin: 20px;
    /* Cast: */
    font-family: Avenir-Medium;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
}

.buy-ticket {
    width: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Rectangle 2: */
    background: #4A4A4A;
    border-radius: 50px;
    font-family: Avenir-Heavy;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.sect {
    /* See all: */
    font-family: Avenir-Medium;
    font-size: 23px;
    color: #30EBFF;
    letter-spacing: 0;
    font-style: oblique
}

.movie-primus {
    width: 12%;
    height: 235px;
    object-fit: cover;
}

.ask-movie {
    /* Mask: */
    background: #FFFFFF;
    border-radius: 16px;
}

.right-container {
    position: absolute;
    left: 75%;
    width: 25%;
    background: white;
    height: 413px;
    border-radius: 16px;
}

.image-container {
    position: relative;
    text-align: center;
    width: 50%;
    margin-top: 10%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.img-icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.movie-head {
    /* Title: */
    font-family: Avenir-Heavy;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

.select-bubble {
    font-family: Avenir-Medium;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.blue-select {
    background: #4A90E2;
    border-radius: 36px;
    font-family: Avenir-Black;
    font-size: 11PX;
    color: #FFFFFF;
    letter-spacing: 0;
    PADDING: 10PX;
    text-align: center;
}

.brown-select {
    /* Age BG: */
    background: #9B9B9B;
    border-radius: 36px;
    /* Rating: */
    font-family: Avenir-Black;
    font-size: 11PX;
    color: #FFFFFF;
    letter-spacing: 0;
    PADDING: 10PX;
    text-align: center;
}

.bubble {
    margin-bottom: 2%;
}

.row-1 {
    padding: 0 25px;
}

.rel {
    position: relative;
}

.app-img {
    width: 25%;
    /*height: 345px;*/
    height: 413px;
    position: absolute;
    left: 75%;
}

.W-60 {
    width: 60%;
}

.W-50 {
    width: 50%;
}

.row-1,
.row-2 {
    justify-content: space-around;
}

.row-2 {
    width: 75%;
}

.row-4 {
    width: 40%;
}

.top {
    margin-top: 7%;
}

.roti-img {
    margin-top: 14%;
    width: 25%;
    height: 282px;
    position: absolute;
    left: 75%;
}

@media only screen and (min-width: 180px) {
    body {
        font-size: 80%;
    }
}

@media only screen and (min-width: 320px) {
    body {
        font-size: 90%;
    }
}

@media only screen and (min-width: 375px) {
    body {
        font-size: 100%;
    }
}

@media only screen and (min-width: 414px) {
    body {
        font-size: 110%;
    }
}


/*any size above 1280 i.e macbook screen/large screen */

@media screen and (min-width: 1280px) {}


/* target width 1000px and below*/

@media screen and (max-width: 1024px) {
    .banner-content {
        width: 50%;
        top: 30%;
    }
    .banner-btn {
        width: 40%;
    }
    .movie-content {
        margin-top: 45%;
    }
}

@media screen and (max-width:1024px) and (min-width: 768px) {
    .right-container {
        width: 100%;
        left: unset;
    }
    .image-container {
        width: 17%;
    }
    .select-bubble {
        margin-bottom: unset;
    }
    .row-1 {
        justify-content: space-evenly;
    }
    .image-container {
        margin-top: 3%;
    }
    .banner-btn {
        top: 50%;
    }
}

@media screen and (max-width: 768px) {
    .app-img,
    .roti-img {
        display: none;
    }
    .banner-content {
        width: 80%;
    }
    .banner-btn {
        width: 80%;
        top: 80%;
    }
    .right-container {
        width: 100%;
        left: unset;
    }
    .name {
        width: 60%;
    }
    .sec-header-body {
        width: 100%;
    }
    .random-movie {
        margin-top: 20%;
    }
    .movie-container {
        height: 100%;
        width: 100%;
        margin-bottom: 10px
    }
    .coverimg-width {
        height: unset;
    }
    .buy-ticket {
        width: 60%;
        margin-bottom: 10%;
    }
    .select-movies {
        left: unset;
        width: 90%;
        top: 190%;
    }
    .head-title {
        width: unset;
    }
    .primus-container {
        flex-wrap: wrap;
    }
    .movie-primus {
        width: 50%;
        height: 50%;
    }
    .movie-content {
        margin-top: 120%;
        flex-direction: column;
    }
    .image-container {
        width: 45%;
    }
}

@media screen and (max-width:768px) and (min-width: 500px) {
    .movie-content {
        margin-top: 60%;
    }
    .select-bubble {
        margin-bottom: unset;
    }
    .row-1,
    .row-2 {
        justify-content: space-evenly;
    }
    .image-container {
        width: 23%;
    }
}

@media screen and (max-width: 360px) {
    .buy-ticket-btn,
    .watch-trailer-btn {
        width: unset;
    }
    .banner-content {
        width: 90%;
    }
    .movie-content {
        margin-top: 140%;
    }
    .buy-ticket {
        width: 80%;
    }
    .image-container {
        width: 50%;
    }
}